.game {
    background: rgba(161, 0, 0);
    padding: 20px;
    border-radius: 5px;
}


header {
    font-size: 78px;
    font-family: myFirstFont;
}

p {
    text-align: center;
    font-size: 36px;
    font-family: mySecondFont;
}

h1, h2, h3, h4, h5 {
    font-size: 78px;
    font-family: myFirstFont;
}

@font-face {
    font-family: myFirstFont;
    src: url('../fonts/MORETHANHUMAN.TTF');
}

@font-face {
    font-family: mySecondFont;
    src: url('../fonts/deathrattlebb_reg.ttf');
}

body {
    background-image: url('../images/grunge_wallpaper_recolor_by_zombiejamboree_d2fbziu-fullview.jpg');
    background-color: black;
}

.title {
    background-color: rgb(161, 0, 0);
}
